<div class="banner">Event Calendar</div>
<div>
    <iframe height="600"
            src="https://www.google.com/calendar/embed?showTitle=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=828vli405i18mh5ebjrso0r60s%40group.calendar.google.com&amp;color=%2323164E&amp;ctz=America%2FNew_York"
            style=" border-width:0 " width="977"></iframe>

    <div style="font-size:9px;">
        Please use the following address to access your calendar from other applications.
        You can copy and paste this into any calendar product that supports the iCal format.
    </div>

    <div style="font-size:9px;">
        <a href="https://www.google.com/calendar/ical/828vli405i18mh5ebjrso0r60s%40group.calendar.google.com/public/basic.ics">
            https://www.google.com/calendar/ical/828vli405i18mh5ebjrso0r60s%40group.calendar.google.com/public/basic.ics </a>
    </div>
</div>