<div class="banner">Contact Information</div>
<div id="contacts" ng-controller="contactsCtrl">
    <div style="padding-top: 0; padding-bottom:6px; margin-bottom:12px; margin-top: 12px;" class="left">
        <div class="headline">Staff</div>
        <div ng-repeat="x in contactsData.staff">
            <div class="contactname">
                {{x.name}} &mdash; {{x.title}}
            </div>
            <div class="italics">
                {{x.email}}
            </div>
        </div>

        <div class="headline" style="margin-top: 12px; margin-bottom: 6px;">Important Links</div>
        <ul style="list-style: none; padding: 0; margin: 0;" ng-controller="linksCtrl">
            <li ng-repeat="x in linksData.key">
                <a target="_blank" ng-href="{{ x.url }}"> {{x.linkText}} </a>
            </li>
        </ul>
    </div>
    <div style="padding-top: 0; padding-bottom:6px; margin-bottom:12px; margin-top: 12px;" class="middle">
        <div class="headline">Board of Directors</div>
        <div ng-repeat="x in contactsData.officers">
            <div class="contactname">
                {{x.name}} &mdash; {{x.title}}
            </div>
            <div class="italics">
                {{x.email}}
            </div>
        </div>
        <div ng-repeat="x in contactsData.directors |
             slice:0:((contactsData.directors.length/2) - (contactsData.officers.length/2) + 1)">
            <div class="contactname">
                {{x.name}}
            </div>
            <div class="italics">
                {{x.email}}
            </div>
        </div>
    </div>
    <div style="padding-top: 0; padding-bottom:6px; margin-bottom:12px; margin-top: 12px;" class="right">
        <div class="headline">&nbsp;</div>
        <div ng-repeat="x in contactsData.directors |
             slice:((contactsData.directors.length/2) - (contactsData.officers.length/2) + 1):contactsData.directors.length">
            <div class="contactname">
                {{x.name}}
            </div>
            <div class="italics">
                {{x.email}}
            </div>
        </div>
    </div>
    <!--<div style="text-align:left; padding-top:0px; padding-bottom:12px;margin-top: 12px;" class="r">-->
    <!--<div class="item" ng-repeat="x in scheduleData | slice:(scheduleData.length/2 + 1):(scheduleData.length)">-->
    <!--<div class="date">-->
    <!--{{x.date}} ({{x.location}})<br/>-->
    <!--{{x.time}}-->
    <!--</div>-->
    <!--<div class="schedule" ng-repeat="y in x.scheduleItem">-->
    <!--<div>{{ y.time }} - {{y.piece}}</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</div>