<div class="banner">MSO Music Library</div>
<div>
    <div style="margin-bottom: 12px;">Contact <a href="mailto:librarian@manassassymphony.org">librarian@manassassymphony.org</a> to request borrowing
        any title for school use.
    </div>
    <iframe class="airtable-embed"
            src="https://airtable.com/embed/shrZIIRPWQgHvUBWO?backgroundColor=gray&viewControls=on"
            onmousewheel="" width="100%" height="800px"
            style="background: transparent; border: 1px solid #ccc;">
        Loading...
    </iframe>
</div>