<div class="banner">Interesting Links</div>
<div class="normal">
    <ul class="list-plain" ng-controller="linksCtrl">
        <li class="key-link-item" ng-repeat="x in linksData.key">
            <a target="_blank" ng-href="{{ x.url }}"> {{x.linkText}} </a>
        </li>
    </ul>
    <ul class="list-plain" style="padding-top:12px;" ng-controller="linksCtrl">
        <li class="link-indent" ng-repeat="x in linksData.interesting">
            <a target="_blank" ng-href="{{ x.url }}"> {{x.linkText}} </a>
        </li>
    </ul>
</div>

<div class="italics" style="padding-top: 8px;">
    Suggestions? <a href="mailto:jim.villani@manassassymphony.org?Subject=Interesting%20Link"> Let me know. </a>
</div>
