<div ng-controller="miscCtrl">
    <div class="banner">{{ photos.title }}</div>
    <div>
        <iframe ng-src="{{ photos.slideshowUrl | trustedUrl }}"
                width="971" height="600"></iframe>
    </div>
    <div>If this slideshow isn't working, <a target="_blank"
                                             ng-href="{{ photos.altUrl }}">click
        here</a>.
    </div>
    <div><a target="_blank" ng-href="{{ photos.galleryUrl }}">Link to photos</a> for
        download. There is no need to purchase. Click on the photo you want, then click on the download icon on the far
        left.
    </div>
    <div class="bold">Please do not share this link outside of MSO</div>
    <div class="italics">Credit: {{ photos.credit }}</div>
</div>
