<div class="banner">Rehearsal Schedule</div>
<div ng-controller="scheduleCtrl">
    <div style="padding-top: 0px; padding-bottom:6px; margin-bottom:12px; margin-top: 12px;" class="l rightBorder">
        <div class="item" ng-repeat="x in scheduleData | slice:0:(scheduleData.length/2)+1">
            <div class="date">
                {{x.date}} ({{x.location}})<br/>
                {{x.time}}
            </div>
            <div class="schedule" ng-repeat="y in x.scheduleItem">
                <div>
                    {{ y.time }}{{ y.composer }}
                    <span ng-show="y.hasOwnProperty('time') || y.hasOwnProperty('composer')"> &ndash; </span>{{y.piece}}
                </div>
            </div>
        </div>
    </div>
    <div style="text-align:left; padding-top:0px; padding-bottom:12px;margin-top: 12px;" class="r">
        <div class="item" ng-repeat="x in scheduleData | slice:(scheduleData.length/2 + 1):(scheduleData.length)">
            <div class="date">
                {{x.date}} ({{x.location}})<br/>
                {{x.time}}
            </div>
            <div class="schedule" ng-repeat="y in x.scheduleItem">
                <div>
                    {{ y.time }}{{ y.composer }}
                    <span ng-show="y.hasOwnProperty('time') || y.hasOwnProperty('composer')"> &ndash; </span>{{y.piece}}
                </div>
            </div>
        </div>
    </div>
</div>

