<div class="banner">Season Survey</div>
<div>
    <!--    2025-26 Season -->
    <p>Direct Link: <a href="https://forms.gle/FCPqCL7qauu7hB96A">https://forms.gle/FCPqCL7qauu7hB96A</a></p>
    <p>Share the Auditions Link with anyone interested: <a href="https://mso.me/auditions-25">https://mso.me/auditions-25</a>
    </p>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd8r-B-7gbvj9_u0c6PuifwHBsNJRmTlDXzjOrC5dRCtGTpMg/viewform?embedded=true"
            width="971" height="1200">Loading…
    </iframe>
</div>