# Begin password protection #
AuthName "Password Protected"
Require valid-user
AuthUserFile /home/users/web/b2190/pow.jimvillani/members/htdocs/.htpasswd
AuthType basic
# End password protection #

ErrorDocument 401 http://www.manassassymphony.org/
ErrorDocument 403 http://www.manassassymphony.org/

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

