# Begin password protection #
AuthName "Password Protected"
Require valid-user
AuthUserFile /home/users/web/b2190/pow.jimvillani/members/htdocs/.htpasswd
AuthType basic
# End password protection #

ErrorDocument 401 https://www.manassassymphony.org/
ErrorDocument 403 https://members.manassassymphony.org/

<FilesMatch "\.txt$">
  ExpiresActive On
  ExpiresDefault A1
  Header append Cache-Control must-revalidate
</FilesMatch>

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

